.container{height: 100vh;}
.inner{width: 1312px; margin: 0 auto;}
.contents1{background-color: red;}
/* .contents2{background-color: blue;} */
/* .contents3{background-color: green;} */


#header{display: flex; height: 100px; /* background-color: #062e6b; */  justify-content: space-evenly; position: fixed; left: 0; right: 0; opacity: .7; z-index: 9999; overflow: hidden;}
#header>h1{line-height: 100px;}
#header>.login{line-height: 100px;}
#header>h1 a{height: 100px;}
#header>.login a{height: 100px;}
#header a{display: block; box-sizing: border-box; width: 100px;color: #000000; font-weight: bold;}
#header>.inner{margin: 0;}
#header>.inner>nav>ul{display: flex; justify-content: space-evenly;}
#header>.inner>nav>ul>li{line-height: 100px;position: relative;text-align: left;}
#header>.inner>nav>ul>li:first-child>.one_depth{color: #062e6b;}
#header>.inner>nav>ul>li>.one_depth{font-size: 18px; font-weight: 700; height: 100px;}
#header>.inner>nav>ul>li>ul{position: absolute; width: 100%; left: 0;}
#header>.inner>nav>ul>li>ul li .two_depth{line-height: 55px; height: 55px; text-align: left;}
#header>.inner>nav>ul>li>ul li:last-child{padding-bottom: 50px;}

/* // #header */

/* swiper 추가 */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  /* width: 100%; */
  height: 100%;
  object-fit: cover;
}

/* .contents1 > swiper */

/* // .contents1 */

/* .contents2 */
.contents2{display: flex; align-items: center; position: relative; background-color: #f2f2f2;}
.contents2 .inner{display: inline-block; height: 540px; line-height: 1.2;}
.contents2 .inner h2{font-size: 96px; font-weight: 800; opacity: 1; z-index: 2001; color: #050811; margin: 0px 0 60px; box-sizing: border-box; position: relative;}
.stories{display: flex; flex-direction: column;  align-content: center;}
.menu_common{font-size: 32px; color: #A6B6E9; font-weight: 900; box-sizing: border-box; margin: 40px 0 50px 3px;}
.stories .new_menu a{color: #062e6b; border-bottom: 2px solid #062e6b;}

/* .bxslider_wrap */
/* .bxslider_wrap{position: absolute; right: 30%; top:30%;} */
.bxslider_wrap{position: absolute; right: 20%; top:30%;}
.bxslider_wrap .bxslider{z-index: 0; border: none;}
.bx-wrapper{border: none;}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager{display: none;}
/* //아래 슬라이드 장 표시 */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto{display: none;}
/* // 슬리아드 play 버튼 */

/* 좌측 버튼 */
.bx-wrapper .bx-controls-direction a{}

/* //.contents2 */

/* .contents3 */
.contents3{display: flex; align-items: center; background-image: url(../img/interior_con_img.jpg), url(../img/interior_con_img2.jpg), url(../img/interior_con_img3.jpg), url(../img/interior_con_img4.jpg); background-repeat: no-repeat; background-position: 10% 20%, 20% 50%, 40% 90%, 75% 30%;}
.contents3 .inner{height: 540px; }
.contents3 .inner h2{font-size: 96px; font-weight: 800; opacity: 1; z-index: 2001; color: #050811; margin: 0px 0 60px; box-sizing: border-box; text-align: center;}
.contents3 .inner>div:nth-child(2){text-align: center; word-break: keep-all; width: 250px; margin: 0 auto; font-size: 24px; font-weight: 700; letter-spacing: 1.4; line-height: 1.5;}
.contents3 .inner div:nth-child(2) span{color: #A6B6E9;}
.contents3 .inner .store{width: 800px; height: 262px; margin: 40px auto 0; display: flex; justify-content: space-evenly; align-items: center;}
.contents3 .inner .store .store_box{width: 250px; height: 110px; border: 2px solid #050811; clip-path: circle(100%); transition: clip-path 1s; /* transition-property: height, clip-path, line-height; */ text-align: center; line-height: 110px; font-size: 22px; font-weight: 600; margin: 0 auto; }
.contents3 .inner .store a:hover .store_box{width: 250px; height: 250px; border-radius: 100%; background-color: #062e6b; color: #fff; border: none; line-height: 250px; clip-path: circle(31%); font-size: 18px;}

.contents3 .inner .store a{color: #050811;}