#header{}

/* //#header{} */

.contents1{width: 100%;}
.contents1 .swiper{width: 100%;}
.contents1 .swiper .swiper-slide{width: 100%;}
.contents1 .swiper .swiper-slide a{width: 100%;}
.contents1 .swiper .swiper-slide a img{width: 100%;}