#header{text-align: center; height: 50px; background-color: #243c84 !important;}
header.on{height: auto !important;}
#header h1{ line-height: unset;}
#header h1 a img{height:50px;}
#header .inner #nav{pointer-events: none;}
#header .inner #nav ul{flex-wrap: wrap;}
#header .inner #nav ul li:first-child{display: none;}
#header .inner #nav ul li{overflow: hidden; width: 49%; background-color: #f2f2f2; padding: 0 8px; box-sizing: border-box; margin-bottom: 2px;}
#header .inner #nav ul li:nth-child(2){margin-top: 50px; pointer-events: all;}
#header .inner #nav ul li:nth-child(3){margin-top: 50px;}
#header .inner #nav>ul>li>a{font-size: 12px; text-align: center; height: 30px; text-align: left; color: #062e6b; line-height: 30px;}
#header .login a:nth-child(1){display: none;}
#header .login a:nth-child(2){display: none;}
#header .login a:nth-child(3){display: none;}
#header .login {margin: 0; justify-content: flex-end}
#header .login .mobile_menu{display: flex; margin: 0; height: 50px;}
#header .login .closePop{display: block; position: absolute; top: 51px; height: 30px; cursor: pointer;}
#header .login a p{font-size: 14px;}
#header .inner #nav:hover ul>li>a{color: #062e6b !important;}

/*  */

#header+div{height: 50px;}

/* //#header{} */

.contents1{width: 100%; height: auto;}
.contents1 .swiper{width: 100%;}
.contents1 .swiper .swiper-slide{width: 100%;}
.contents1 .swiper .swiper-slide a{width: 100%;}
.contents1 .swiper .swiper-slide a img{height: 100%; width: 100%;}

.swiper-button-next>img{width: 36px; }

.swiper-button-prev>img{width: 36px; }


/* //.contents1 */

.contents2{width: 100%; flex-direction: column; align-items: center; position: unset; height: auto;}
.contents2>div{width: 100%; flex-direction: column}
.contents2 .inner{width: 100%; height: 200px;}
.contents2 .inner h2{font-size: 32px; text-align: center; position: unset;  margin-top: 4rem; margin-bottom: 0; margin-left: 2rem; letter-spacing: -1px;}
.contents2 .inner .stories{flex-direction: row; justify-content: space-evenly; margin: 0;}
.contents2 .inner .stories .menu_common_a{font-size: 12px; letter-spacing: 0px;}
.contents2 .bxslider_wrap{position: unset; width: 100%; margin: 0;}
.menu_common{margin: 10px 0;}

/* //.contents2 */

.contents3{background: url(../img/members_intro_bg02_m.jpg) no-repeat; background-position: 50% center;}
.container.contents3 .inner{text-align: center; justify-content: center;}
.contents3 h2{font-size: 32px; margin-bottom: 20px;}
.contents3 .inner>div>.gift_card_title>.menu_common{font-size: 18px;}
.contents3 .inner>div>.gift_card_title>.menu_common>br{display: none;}
.contents3 .inner>div>.gift_card_title>p:nth-child(2){display: none;}
.contents3 .inner>div>.gift_card_title>p:nth-child(3){display: none;}
.contents3 .inner>div>.gift_card_title>div>a{width: 200px; font-size: 16px; margin-bottom: 360px;}

/* //.contents3 */

.contents4{background-position:54% center; background: url(../img/members_intro_bg01_m.jpg) no-repeat; background-size: cover;}
.contents4 .inner{text-align: center; justify-content: center; align-items: center;}
.contents4 h2{font-size: 32px; letter-spacing:-1px; margin-bottom: 20px; }
.contents4 .inner>div>.members_title>.menu_common{font-size: 18px;}
.contents4 .inner>div>.members_title>p:nth-child(2){display: none;}
.contents4 .inner>div>.members_title>p:nth-child(3){display: none;}
.contents4 .inner>div>.members_title>div>a{width: 200px; font-size: 16px; margin-bottom: 360px;}

/* //.contents4 */

.contents5{width: 100%; background-size: 12%; background-position: 10% 20%, 20% 50%, 40% 10%, 75% 30%; display: block; height: auto;}
.contents5 .inner{width: 100%; display: flex; flex-direction: column; text-align: center;}
.contents5 .inner h2{font-size: 32px; margin-bottom:20px; letter-spacing: -1px;}
.contents5 .inner div:nth-child(2){font-size: 16px;}
.contents5 .inner .store{width: 100%; flex-direction: column; margin: 0; justify-content: flex-start;}
.contents5 .inner .store a{width: 200px; font-size: 16px; height: 50px; margin: 20px 0;}
.contents5 .inner .store a .store_box{font-size: 16px; height: 50px; line-height: 50px;}

/* //.contents5 */

.contents6 .inner{display: block;}
.contents6 .inner >div h2{font-size: 32px; letter-spacing: -1px; text-align: center; letter-spacing: -1px;}
.contents6 .inner >div h2>br{display: none;}
.contents6 .inner >div div{display: none;}
.contents6 .inner >div div:nth-child(3){width: 100%; height: 50px; text-align: left; font-size: 18px; letter-spacing: -2px; display: block; text-align: center;}
.contents6 .inner >div div:last-child{display: none;}
.contents6 .inner .news{width: 100%; display: flex; flex-direction: row; flex-wrap: wrap;}
.news > a{height: 175px;}
.news > a:first-child{margin: 0;}
.news > a .news_tap{font-size: 14px;}
.news > a .news_title{font-size: 16px;}
.news > a .news_date{font-size: 14px;}
.contents6 .inner .news .news_over{display: none;}

/* //.contents6 */

#footer .inner{padding-right: 40px; padding-left: 40px;}
.footer_top_menu{font-size: 16px;}
#footer dl{display: none;}
#footer .inner .footer_bottom ul li a{font-size: 10px;}
#footer .inner .footer_bottom p{font-size: 10px;}
#footer .inner .footer_bottom p:last-child{font-size: 10px;}

/* //#footer */

#top_button{bottom: 1em; right: 1em; width: 44px; height: 44px; line-height: 44px; font-size: 14px;}